/*
    File Name: main.css
    Author: Blake Murdock
    Website Name: Personal Portfolio for Blake Murdock
    Purpose: This file contains all of the CSS styles for my portfolio website
*/
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #0B3B0B;
}

aside {
    outline: 2px solid black;
}

#centre {
    text-align: center;
}

#active {
    background: #A0F595;
}

label#activeL {
    color: black;
}

.projSlider {
    margin-left: auto;
    margin-right: auto;
}

#slider {
    float: right;
    display: block;
}

#connect {
    display: block;
}

.title {
    margin-top: 5%;
    margin-bottom: 10%;
}

div.orbit-container {
    width: 65%;
}

div.icon-bar.vertical.nine-up {
    height: 100vh;
    background-color: #04B404;
}

nav {
    background-color: #04B404;
    float: left;
    display: inline-block;
    max-height: 100%;
    clear: left;
}

a.item {
    height: 5%;
}

img#logo {
    position: relative;
    float: left;
}

.right {
    float: right;
}

h1, h2, h3, h4, h5, p, small, p.small-12.columns, ul#techList, label {
    color: white;
}

#tag {
    text-transform: uppercase;
}

p {
    font-size: medium;
}

.icon-bar.vertical .item, .icon-bar.small-vertical .item {
    height: 11.11vh;
}

ul.breadcrumbs.small-centered {
    display: block;
}

input.invalid, textarea.invalid {
    border: 2px solid red;
}

html.jsNotLoaded {
    display: none;
}
