/*
    File Name: main.css
    Author: Blake Murdock
    Website Name: Personal Portfolio for Blake Murdock
    Purpose: This file contains all of the CSS styles for my portfolio website
*/
aside {
    outline: 2px solid black;
}

#centre {
    text-align: center;
}

/*#active {
    background: white;
    color: black;
}*/

.projSlider {
    margin-left: auto;
    margin-right: auto;
}

#slider {
    float: right;
    display: inline-block;
}

#connect {
    display: block;
}

.title {
    margin-top: 20%;
    margin-bottom: 20%;
}

div.orbit-container {
    width: 65%;
}

nav {
    float: left;
    display: inline-block;
}