/*
    File Name: main.css
    Author: Blake Murdock
    Website Name: Personal Portfolio for Blake Murdock
    Purpose: This file contains all of the CSS styles for my portfolio website
*/

aside {
    outline: 2px solid black;
}

#centre {
    text-align: center;
}

#active {
    background: white;
}
